* {
  margin: 0;
  padding: 0;
}
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkgrey;
  row-gap: 10px;
}






